.buttons,
.main .profile {
    display: flex;
    justify-content: left;
}
.main .profile {
    align-items: center;
/*    min-height: calc(100vh  - (var(--gap) * 2));*/
/*    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));*/
    min-height: calc(100vh - var(--footer-height) - (var(--gap) * 2));
    font-size: var(--homesize);
    line-height: var(--lineheight);
}

.profile .profile_inner h1 {
    padding: 12px 0;
    font-size: 40px;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
    border: 1px solid rgb(207, 207, 207);
}

.buttons {
    flex-wrap: wrap;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border: 1px solid rgb(207, 207, 207);
    border-radius: var(--radius);
    margin: 8px 16px 8px 0px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:hover {
    background: var(--midpurple);
}